# Resend API Key for sending emails from the Contact Form
RESEND_API_KEY=

# The email address that should receive the contact form submissions
CONTACT_EMAIL=

# The 'from' email address for sending emails via Resend (Requires a verified domain on Resend, e.g., no-reply@yourdomain.com)
RESEND_FROM_EMAIL=
